  <div class="container-fluid">
        <img class="imagen-alumno" src="../../../assets/imagenes/el-avatar-del-perfil-de-la-persona-masculina-vector-icono-préstamo-universidad-con-símbolo-dólar-y-mortero-suben-para-126069600.jpg" alt="img del usuario">
  </div>


  <div class="personalizar-alumno">
    <div class="boton-desplegable">
      <div class="column-container conatiner-fluid">
        <div class="dropdown">
          <button class="btn btn-outline-success boton-guardar">Guardar</button>
          <button class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown">Personalización</button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Modo claro</a>
            <a class="dropdown-item" href="#">Modo oscuro</a>
          </div>
        </div>
      </div>
    </div>
  </div>




  <div>
    <form>
      <div class="user-box">
        <label for="nombre-usuario">Nombre de usuario:</label>
        <input type="text" id="nombre-usuario" name="nombre-usuario" required>
      </div>
      <br>
      <div class="user-box">
        <label for="contrasena">Contraseña:</label>
        <input type="password" id="contrasena" name="contrasena" required>
      </div>
      <br>
      <div class="user-box">
        <label for="confirmar-contrasena">Confirma la contraseña:</label>
        <input type="password" id="confirmar-contrasena" name="confirmar-contrasena" required>
      </div>
      <br>
      <div class="user-box">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>
      </div>
      <br>
      <div class="user-box">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
      </div>
      <br>
      <div class="user-box">
        <label for="telefono">Teléfono:</label>
        <input type="text" id="telefono" name="telefono" required>
      </div>
    </form>
  </div>


  

<br><br>

    
<table class="estilos-cursos">
  <thead>
    <tr>
      <th>Cursos</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>HTML, CSS, JS</td>
    </tr>
    <tr>
      <td>MySQL, Java, Hibernate</td>
    </tr>
    <tr>
      <td>Figma</td>
    </tr>
    <tr>
      <td>Bootstrap</td>
    </tr>
    <tr>
      <td>C, C++</td>
    </tr>
    <tr>
      <td>Python</td>
    </tr>
    <tr>
      <td>ChatGPT</td>
    </tr>
  </tbody>
</table>

