@import '/src/styles.css';

/* Estilo del navbar */
.navbar {
  background-color:rgb(92, 92, 97); /* Fondo de color gris oscuro opaco */
}

/* Estilo del borde inferior del menú */
.border-bottom-nav {
  max-width: 100%;
  position: relative;
  background: #0dcaf0;
  padding-bottom: 4px;  
}

/* Estilos del buscador del header */
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  border-color: var(--color-secundario);
  padding: 1px;
  margin-right: 3px;
}

.search-bar input {
  border: none;
  border-radius: 4px 0px 0px 4px;
  padding: 8px;
  width: 100%;
  margin-right: 0px;
}

.search-bar button {
  background-color: #fff;
  border: none;
  border-radius: 0px 4px 4px 0px;
  padding: 8px;
  font-weight: bold;
}
