<div class="border-bottom-nav">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      
      <a class="navbar-brand" routerLink="/" title="Mi Logo">
        <img class="" src="../../../assets/imagenes/png-transparent-slack-logo-icon.png" alt="Logo" height="50" width="50">
      </a>
      <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link btn btn-outline-info" routerLink="">LOGIN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-outline-info" routerLink="">PERFIL ALUMNO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-outline-info" routerLink="">INICIO ALUMNO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-outline-info" routerLink="">BACK NOTAS</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
