.titulos-alumnos{
  text-align: center;

  animation: cambiarColor 3s infinite; /* Aplica una animación de cambio de color durante 3 segundos */
    }
    
    @keyframes cambiarColor {
      0% { color: rgb(28, 119, 25); } /* Primer color: rojo */
      33% { color: rgb(221, 240, 52); } /* Segundo color: verde */
      66% { color: rgb(163, 12, 12); } /* Tercer color: azul */
    }
  
      

    .estilos-alumnos {
      text-align: center;
      margin: 0 auto; /* Agrega este estilo para centrar la tabla */
      max-width: 600px; /* Ajusta el valor según el ancho deseado */
    }
    
    .estilos-alumnos table {
      width: 100%;
      border-collapse: collapse;
    }
    
    .estilos-alumnos th, .estilos-alumnos td {
      padding: 8px;
      border: 1px solid #000000;
    }
    
    .estilos-alumnos th {
      background-color: #525252;
      color: #ffffff;
      font-weight: bold;
    }
    
    .estilos-alumnos tbody tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    
    .estilos-alumnos tbody tr:hover {
      background-color: #e6e6e6;
    }
      
