
<body>
    <div>
        <img src="../../../assets/imagenes/logo-marca-slack.jpg" alt="imagenLogin" width="100%">
    </div>
    
    <div id="login-content">
<!-- boton enviar, y login -->
    <div class="login-box">
            <form>
                <div class="user-box" >
                    <input type="text" name="" required="">
                    <label>Nombre de usuario: </label>
                </div>
                    <div class="user-box">
                        <input type="password" name="" required="">
                        <label>Contraseña: </label>
                    </div>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">¿Aún no tienes cuenta? pincha aquí</a>
                    <a class="dropdown-item" href="#">¿has olvidado la contraseña?</a>
                    
                    <a href="#">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Iniciar Sesión
                    
                </a>
            </form>
        </div>
    </div>
</body>