

  <div class="button-container">
    <button>Crear</button>
    <button>Modificar</button>
    <button>Borrar</button>
  </div>
  
  <div class="column-container">
    <div class="column">
      <div class="dropdown">
        <button>Botón 1</button>
        <div class="dropdown-content">
          <div>Opción 1</div>
          <div>Opción 2</div>
          <div>Opción 3</div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="dropdown">
        <button>Botón 2</button>
        <div class="dropdown-content">
          <div>Opción 1</div>
          <div>Opción 2</div>
          <div>Opción 3</div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="dropdown">
        <button>Botón 3</button>
        <div class="dropdown-content">
          <div>Opción 1</div>
          <div>Opción 2</div>
          <div>Opción 3</div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="button-container">
    <button>Crear</button>
    <button>Modificar</button>
    <button>Borrar</button>
  </div>
  
  <div class="column-container">
    <div class="column">
      <div class="dropdown">
        <button onclick="myFunction('myDropdown1')">Botón 1</button>
        <div id="myDropdown1" class="dropdown-content">
          <div>Opción 1</div>
          <div>Opción 2</div>
          <div>Opción 3</div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="dropdown">
        <button onclick="myFunction('myDropdown2')">Botón 2</button>
        <div id="myDropdown2" class="dropdown-content">
          <div>Opción 1</div>
          <div>Opción 2</div>
          <div>Opción 3</div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="dropdown">
        <button onclick="myFunction('myDropdown3')">Botón 3</button>
        <div id="myDropdown3" class="dropdown-content">
          <div>Opción 1</div>
          <div>Opción 2</div>
          <div>Opción 3</div>
        </div>
      </div>
    </div>
  </div> -->