  <div class="conainer-fluid">
    <div class="botones-cbe">
      <div class="column-container">
        <button class="btn btn-outline-success">Crear</button>
        <button class="btn btn-outline-warning">Modificar</button>
        <button class="btn btn-outline-danger">Borrar</button>
      </div>
    </div>
  </div>
  
  <form class="form-inline">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">@</span>
      </div>
      <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
    </div>
  </form>
  
  <br>
  <div class="boton-desplegable">
    <div class="column-container conatiner-fluid">
      <div class="column">
        <div class="dropdown">
          <button class="btn btn-outline-info">Botón 1</button>
          <div class="dropdown-content">
            <div class="btn btn-outline-info">Opción 1</div>
            <div class="btn btn-outline-info">Opción 2</div>
            <div class="btn btn-outline-info">Opción 3</div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="dropdown">
          <button class="btn btn-outline-info">Botón 2</button>
          <div class="dropdown-content">
            <div class="btn btn-outline-info">Opción 1</div>
            <div class="btn btn-outline-info">Opción 2</div>
            <div class="btn btn-outline-info">Opción 3</div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="dropdown">
          <button class="btn btn-outline-info">Botón 3</button>
          <div class="dropdown-content">
            <div class="btn btn-outline-info">Opción 1</div>
            <div class="btn btn-outline-info">Opción 2</div>
            <div class="btn btn-outline-info">Opción 3</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br><br><br><br><br>
  <app-alumnos></app-alumnos>