<div class="border-top-footer">
  <footer class="footer-bg text-light">
    <div class="container text-center">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4 mt-3 h-100">
          <h5>Enlaces</h5>
          <!-- list-untyled es para quitar los puntos de la lista <li> -->
          <ul class="list-unstyled">
            <li><a class="footer-link" href="#">Contacto</a></li>
            <li><a class="footer-link" href="#">Sobre nosotros</a></li>
            <li><a class="footer-link" href="#">Aviso legal</a></li>
          </ul>
        </div>
        <div class="col-12 col-sm-6 col-md-4 mt-3 h-100">
          <h5>Redes sociales</h5>
          <ul class="list-unstyled">
            <li class="pt-2"><a class="footer-link" href="#"><i class="fab fa-facebook-f fa-xl"></i></a></li>
            <li class="pt-2"><a class="footer-link" href="#"><i class="fab fa-twitter fa-xl"></i></a></li>
            <li class="pt-2"><a class="footer-link" href="#"><i class="fab fa-instagram fa-xl"></i></a></li>
          </ul>
        </div> 
        <div class="col-12 col-sm-6 col-md-4 mt-3 h-100">
          <h5>Contacto</h5>
          <address>
            1234 Calle Principal<br>
            Ciudad, Estado 12345<br>
            Teléfono: (123) 456-7890<br>
            Correo electrónico: info@example.com
          </address>
        </div>
      </div>
    </div>
  </footer>  
</div>
