  <div class="container-fluid">
        <img class="imagen-alumno" src="../../../assets/imagenes/el-avatar-del-perfil-de-la-persona-masculina-vector-icono-préstamo-universidad-con-símbolo-dólar-y-mortero-suben-para-126069600.jpg" alt="img del usuario">
  </div>


  <div class="personalizar-alumno">
    <div class="boton-desplegable">
      <div class="column-container conatiner-fluid">
        <div class="dropdown">
          <button class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown">Personalización</button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Modo claro</a>
            <a class="dropdown-item" href="#">Modo oscuro</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="atributos-alumnos">
    <p>Nombre: </p>
    <p>Apellidos: </p>
    <p>Usuario: </p>
    <p>Contraseña: </p>
    <p>Nota media: </p>
  </div>