.imagen-alumno{
  margin-top: 35px;
  margin-left: 25px;
  height: 100px;
  width: 100px;
}
.personalizar-alumno{
  text-align: right;
  padding-right: 50px;
}
.atributos-alumnos{
 padding-left: 20px;
}