

/* para la barra de notificaciones */
#barraNotificacion {
  width: 200px;
  height: 50px;
  background-color: #ccc;
  padding: 10px;
  cursor: pointer;
}

#notificaciones {
  background-color: #eee;
  padding: 10px;
}
/*------------------------------------------- son los atributos para la tabla de cursos; desde aqui ------------------------------------*/
.atributos-cursos{
  padding-left: 20px;
 }
 .estilos-cursos {
   text-align: center;
   margin: 0 auto; /* Agrega este estilo para centrar la tabla */
   max-width: 600px; /* Ajusta el valor según el ancho deseado */
 }
 
 .estilos-cursos table {
   width: 100%;
   border-collapse: collapse;
 }
 
 .estilos-cursos th, .estilos-cursos td {
   padding: 8px;
   border: 1px solid #000000;
 }
 
 .estilos-cursos th {
   background-color: #525252;
   color: #ffffff;
   font-weight: bold;
 }
 
 .estilos-cursos tbody tr:nth-child(even) {
   background-color: #f2f2f2;
 }
 
 .estilos-cursos tbody tr:hover {
   background-color: #e6e6e6;
 }
 /* ------------------------------------------------------------- hasta aquí----------------------------------------- */
 /* son los atributos del alumno, cuando esta en su perfil */
 .atributos-alumnos {
   margin-left: 4%;
   padding: 10px;
   width: 200px;
  
   
 }
 /* son los atributos de la imagen que tenga en el perfil */
 .imagen-alumno{
  margin-bottom: 20px;
  margin-top: 35px;
  margin-left: 25px;
  margin-right: 25px;
  height: 100px;
  width: 100px;
}
