

<div class="container-fluid">
  <img class="imagen-alumno" src="../../../assets/imagenes/el-avatar-del-perfil-de-la-persona-masculina-vector-icono-préstamo-universidad-con-símbolo-dólar-y-mortero-suben-para-126069600.jpg" alt="img del usuario">
</div>



  <div>
    <div class="atributos-alumnos">
      <p>Nombre: </p>
    </div>
    <div class="atributos-alumnos">
      <p>Apellidos: </p>
    </div>
    <div class="atributos-alumnos">
      <p>Usuario: </p>
    </div>
    <div class="atributos-alumnos">
      <p>Contraseña: </p>
    </div>
    <div class="atributos-alumnos">
      <p>Nota media: </p>
    </div>
  </div>

<br><br>
  
  
<table class="estilos-cursos">
  <thead>
    <tr>
      <th>Cursos</th>
      <th>Nota Media</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>HTML, CSS, JS</td>
      <td></td>
    </tr>
    <tr>
      <td>MySQL, Java, Hibernate</td>
      <td></td>
    </tr>
    <tr>
      <td>Figma</td>
      <td></td>
    </tr>
    <tr>
      <td>Bootstrap</td>
      <td></td>
    </tr>
    <tr>
      <td>C, C++</td>
      <td></td>
    </tr>
    <tr>
      <td>Python</td>
      <td></td>
    </tr>
    <tr>
      <td>ChatGPT</td>
      <td></td>
    </tr>
  </tbody>
</table>


